* {
  background-color: #16ceef09;
}

.container {
  text-align: center;
}

.upload-button {
  margin-bottom: 10px;
  color: #ffff;
  background-color: #61dafb;
}

.filters {
  margin-bottom: 10px;
}

.filter-label {
  margin-right: 10px;
}

.filter-input {
  margin-right: 10px;
}

.filter-button {
  padding: 5px 10px;
  background-color: #61dafb;
  color: #fff;
  border: none;
  cursor: pointer;
}

.data-item {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}

/* Navbar CSS */
/* .navbar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 200px;
  background-color: #f1f1f1;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin-top: 10px;
}

.navbar li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000;
}

.navbar li a:hover {
  background-color: #ddd;
} */

.navbar {
  display: flex;

  flex-direction: row;

  align-items: center;

  justify-content: space-between;

  width: 100%;
}

.navbar ul {
  list-style-type: none;

  margin: 0 20px;

  padding: 0;

  /* overflow: hidden; */
}

.navbar li {
  float: left;

  padding: 5px 20px;
}

.navbar li button {
  /* display: block; */

  border-style: dashed;

  color: black;

  text-align: center;

  font-size: medium;

  padding: 8px 16px;

  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */

.navbar li button:hover {
  background-color: #16ceefa8;
}
